#page,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo {
  max-width: 1600px;
  width: 90%;
  // conta no css = width: calc(100% - 30px);

}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

header {
  display: flex;
  height: 174px;
  width: 100%;
  align-items: center;
  justify-content: space-between;


  nav {
    display: inline-block;

    ul {
      display: flex;

      li {
        display: inline-block;
        margin: 0 15px;
        font-size: 21px;
        font-weight: bold;

        &:last-of-type {
          margin-right: 0px;
          text-decoration: underline;
          //NAO ESTA FUNCIONANDO
        }

        &:first-of-type {
          margin-left: 0px;
        }
      }
    }
  }

  .divEsq {
    img {
      display: block;
    }
  }
}

#box1 {
  display: flex;
  height: 722px;
  gap: 60px;

  .divEsq {
    background-image: url("/images/FotoBox1.png");
    flex: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    div {
      margin-left: 10%;
      margin-bottom: 10%;

      h1 {
        font-size: 50px;
        font-weight: 900;
        width: 400px;
      }

      p {
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        margin-top: 40px;
      }
    }


  }

  .divDir {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;

    .divDir1 {
      border-radius: 12px;
      background-position: right center;
      background-size: cover;
      background-repeat: no-repeat;
      flex: 1;
      background-image: url("/images/Foto2Box1.png");

      div {
        margin-left: 10%;
        margin-top: 15%;

        p {
          font-size: 18px;
          font-weight: bold;
          text-decoration: underline;
          color: #ffffff;
          margin-top: 40px;
        }

        h2 {
          font-size: 50px;
          font-weight: 900;
          width: 400px;
          color: #ffffff;
        }
      }


    }

    .divDir2 {
      border-radius: 12px;
      background-position: right center;
      background-size: cover;
      background-repeat: no-repeat;
      flex: 1;
      background-image: url("/images/Foto3Box1.png");

      div {
        margin-left: 10%;
        margin-top: 15%;

        h3 {
          font-size: 50px;
          font-weight: 900;
          width: 400px;
        }

        p {
          font-size: 18px;
          font-weight: bold;
          text-decoration: underline;
          margin-top: 40px;
        }
      }
    }
  }
}

.conteudo2 {
  max-width: 1500px;
  width: 85%;
  // conta no css = width: calc(100% - 30px);
}

#box2 {
  display: flex;
  height: 200px;
  margin-top: 150px;
  background-image: url("/images/TextoBox2.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #F1F1F1;

  .divEsq {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      &:first-of-type {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 0px;
      }

      margin-top: 5px;
      font-size: 19px;
    }
  }

  .divDir {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 200px;
      height: 60px;
      background-color: black;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
    }
  }
}

#box4 {
  display: flex;
  height: 500px;
  gap: 35px;
  margin-top: 150px;

  .divEsq {
    background-image: url('/images/Foto1Box4.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      margin-left: 10%;

      h4 {
        font-size: 50px;
        font-weight: 900;
        width: 400px;
      }

      p {
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        margin-top: 40px;
      }
    }
  }

  .divDir {
    background-image: url('/images/Foto2Box4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      margin-left: 10%;

      h5 {
        font-size: 50px;
        font-weight: 900;
        width: 400px;
      }

      p {
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        margin-top: 40px;
      }
    }
  }
}

#box6 {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;


  ul {
    li {
      &:first-of-type {
        font-weight: bold;
        margin-bottom: 20px;
      }

      font-size: 14px;
      font-weight: 300;
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

Footer {
  background-image: url('/images/FashionStore.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: 215px;
  width: 100%;
  margin-top: 100px;

  div {
    display: flex;

    p {
      &:first-of-type {
        margin-right: 3px;
      }
    }
  }

  //ARRUMAR A IMAGEM DE FUNDO DO FOOTER E ARRUMAR "MARGIN-BOTTOM" DO COMPONENTE
}